
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
# /var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
.php-cs-fixer.dist.php
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
# /public/build/
# /public/build/app.css
# /public/build/app.js
# /public/build/entrypoints.json
# /public/build/runtime.js
# /public/build/vendors-node_modules_symfony_stimulus-bridge_dist_index_js-node_modules_core-js_modules_es_da-03e5c3.js


npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

tools/
.phpdoc/
src/Kernel.php
