        <header class="site-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ asset('img/background.jpg') }})">
            <span class="site-title">Biblioteket</span>
        </header>