        <nav class="topnav" id="myTopnav">
            <a href="{{ path('home') }}"><span class="material-symbols-outlined">arrow_forward</span></a>
            <a {% if url == 'about' %} class="active" {% endif %} href="{{ path('proj-about') }}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            About
            </a>
            <a {% if url == 'api' %} class="active" {% endif %} href="{{ path('proj-api') }}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            API
            </a>
            <a {% if url == 'proj' %} class="active" {% endif %} href="{{ path('proj') }}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Casino
            </a>
        </nav>