{% extends 'base-project.html.twig' %}

{% block title %}About the project{% endblock %}

{% block body %}

<main class="proj">

<h1>Om projektet</h1>

<p>Till mitt projekt valde jag alternativet med Poker Squares kortspelet. Poängtabellen för de olika reglerna hittar du <a class="proj-link" href="{{ path('proj-rules') }}">här</a>.</p>

<p>Som användare spelar du mot huset om vem som kan få flest poäng i de tio händerna vertikalt och horisontellt.  Du och huset turas om att dra varannat kort från däcket och placera i varsin 5x5 grid.</p>
<p>För att kunna spela behöver du registrera dig (eller logga in om du har ett konto sedan tidigare). Du registrerar dig genom att fylla i epostaddress, spelarnamn (acronym) och lösenord. Epostaddress används sedan som användarnamn vid inloggning medan acronym är det som syns utåt på Leaderboard. Det är inte själva lösenordet som sparas i databasen utan lösenordshash. <a class="proj-link" href="{{ path('proj-db') }}">Mer information om databasen och tabellerna hittar du här</a></p>
<p></p>

{{ text | raw }}
</main>
{% endblock %}
