{% extends 'base-project.html.twig' %}

{% block title %}Database{% endblock %}

{% block body %}

<main class="proj">

{{ include('flash.html.twig') }}

<h1>Om databasen</h1>

<p>Jag har använt mig av SQLite databas eftersom den var enklast att komma igång med och eftersom jag hade lite erfarenhet av SQLite sedan tidigare,  från Webtec kursen, som var tillräcklig för det lilla jag behövde "fixa till" i databasen på egen hand.</p>

<div class="no-p">
<img src="{{ asset('img/project/db.png') }}" alt="Database ER diagram">
</div>

{{ text | raw }}

<p>Nollställ databasen genom att klicka här:</p>
<form method="post" action="{{ path('reset_project') }}">
<button type="submit" class="btn active-btn">
Reset project database
</button>
</form>


</main>
{% endblock %}
