{% extends 'base-project.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}

<h1 class="title">Welcome to the casino!</h1>
{{ include('proj/incl/background-image.html.twig') }}

{{ include('proj/incl/login-form.html.twig') }}

{% endblock %}
