{% extends 'base-project.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}

{{ include('proj/incl/bg-coins.html.twig') }}

<h1 class="title">Welcome to the casino!</h1>
{{ include('proj/incl/register-form.html.twig') }}

{% endblock %}
