{% extends 'base-project.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}

{{ include('proj/incl/bg-cards.html.twig') }}
<h1 class="title">Rules</h1>

<div class="flex-wrapper-col">
<a class="close" href="{{ path('read_many') }}">&times;</a>

<div class="half-width-col descr">
<ul>
<li>Start a new game and place a bet.</li>
<li>Take turns against the House to each fill a 5x5 grid.</li>
<li>Get points vetically and horizontally.</li>
<li>If you get more points than House you will get a return equal to the double amount of your bet.</li>
<li>Use coins to puchase cheats such as calculated slot-suggestion, move a card, sneak a peek of the cards you will pick.</li>
<li>If you run out of coins - no worries! You can buy more coins in the shop</li>
</ul> 
</div>
<div class="half-width-col points">
<table class="points">
<tr><th>Poker Hand</th><th>Points</th></tr>
<tr><td>Royal Flush</td><td>100</td></tr>
<tr><td>Straight Flush</td><td>75</td></tr>
<tr><td>Four Of A Kind</td><td>50</td></tr>
<tr><td>Full House</td><td>25</td></tr>
<tr><td>Flush</td><td>20</td></tr>
<tr><td>Straight</td><td>15</td></tr>
<tr><td>Three Of A Kind</td><td>10</td></tr>
<tr><td>Two Pairs</td><td>5</td></tr>
<tr><td>One Pair</td><td>2</td></tr>
</table>
</div>
</div>
{% endblock %}
