{% extends 'base-project.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}

{{ include('proj/incl/bg-cards.html.twig') }}
{{ include('proj/incl/return-arr.html.twig') }}

<h1 class="title">Your top 10 scores</h1>
<table class="points trans">
    <tr>
        <th>Date</th>
        <th>Points</th>
    </tr>
{% for score in scores %}
    <tr>
        <td>
            {{ score.registered|date("Y-m-d") }}
            </td>
        <td>{{ score.points }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
