        <header class="site-header full-page" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ asset('img/background3.jpg') }})">
            <h1>Casino</h1>

            <div class="flex-row full-width">
            {# <a href="{{ path('read_many') }}" class="btn primary">Se alla böcker</a>
            <a href="{{ path('create_form') }}" class="btn secondary from-top">Ny bok</a> #}
            </div>
        
        </header>