

{% if placedCards >= 1 %}
<form method="post" action="{{ path('pick-card', {balance: balance}) }}">
<button type="submit" class="btn active-btn">
Move a card | 50 coins
{# <span class="material-symbols-outlined">
paid
</span> #}
</button>
</form>
{% endif %}