<div class="data player-data grid-col-2 grid-row-0">
<span class="name">You</span>
<span class="balance">Balance: {{balance}} coins</span>
<span class="score">Prel score: {{results['player']['total']}}</span>
</div>