{{ include('flash.html.twig') }}

<div class="wrapper register">
<form method="post" action="{{ path('register') }}">

<h2>Register and get 1000 free coins</h2>
    <div class="input-box">
    <span class="material-symbols-outlined icon">
    alternate_email
    </span>
    <input name="email" type="email" required="required" minlength="1" maxlength="100" placeholder="Email">
    </div>

    <div class="input-box">
    <span class="material-symbols-outlined icon">person</span>
    <input name="acronym" type="text" required="required" minlength="1" maxlength="100" placeholder="Gamer name">
    </div>

    <div class="input-box">
    <span class="material-symbols-outlined icon">key</span>
    <input name="password" type="password" required="required" minlength="1" maxlength="100" placeholder="Password">
    </div>

    <div class="input-box">
    <span class="material-symbols-outlined icon">key</span>
    <input name="password2" type="password" required="required" minlength="1" maxlength="100" placeholder="Repeat password">
    </div>
    <button class="form-btn" type="submit">Register</button>
    <div class="register-link">
    <p>Already have an account? <a href="{{ path('proj') }}">Login</a></p>
    </div>
</form>
</div>
