{# <a class="return-arr" href="{{ path('proj-unset-suggest') }}">Return <span class="material-symbols-outlined">arrow_forward</span></a> #}

<form method="post" action="{{ path('proj-unset-suggest') }}">
<button type="submit" class="return-arr">
Return <span class="material-symbols-outlined">arrow_forward</span></a>
</button>
</form>