

<div class="register-link rules-text">
<p>You have {{ balance }} coins. Win against house to earn more coins. Use coins to purchase cheats. Use cheats to earn even more coins. Read full rules
<a href="{{ path('proj-rules') }}">here</a>.
</p>
</div>