{% if placedCards < 24 %}
<form method="post" action="{{ path('purchase-suggestion') }}">
<button type="submit" class="btn active-btn">
Suggestion | 30 coins
</button>
</form>
{% else %}
<form method="get" action="{{ path('proj-play') }}">
<button disabled="disabled" type="submit" class="btn active-btn">
Suggestion | 30 coins
</button>
</form>
{% endif %}

