
<form method="post" action="{{ path('purchase-suggestion', {type: 2}) }}">
<button type="submit" class="btn {% if message != "" %}blink-btn{% else %}stnd-btn{% endif %}">
Suggestion-extra smart | 60 coins
</button>
</form>

