
<form method="post" action="{{ path('purchase-suggestion', {type: 1}) }}">
<button type="submit" class="btn {% if suggestion1['message'] != "" %}blink-btn{% else %}stnd-btn{% endif %}">
Suggestion | 30 coins
</button>
</form>

