<form method="post" action="">
    <p>
        <input type="submit" value="Draw a card"
            onClick="this.form.action='{{ path('playerDraw') }}';">
        <input type="submit" value="Done"
            onClick="this.form.action='{{ path('bankPlaying') }}';">
    </p>
</form>
<p>Sannolikhet att bli tjock vid nästa kort {{ risk }}</p>