<form method="post" action="">
    <p>{% if (bankPlaying == false) %}
        <input type="submit" value="Draw a card"
            onClick="this.form.action='{{ path('playerDraw') }}';">
        {% endif %}
        <input type="submit" value="Done"
            onClick="this.form.action='{{ path('bankPlaying') }}';">
    </p>
</form>

{% if (bankPlaying == false) %}
<p>Sannolikhet att bli tjock vid nästa kort {{ risk }}</p>
{% endif %}