<form method="post" action="">
<p>Klicka på en av knapparna för att börja spela</p>
    <p>
        <input type="submit" name="level" value="Easy"
            onClick="this.form.action='{{ path('init') }}';"
        >

        <input type="submit" name="level" value="Hard"
            onClick="this.form.action='{{ path('init', {level: 2}) }}';"
        >
    </p>
</form>