{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<div class="all-cards">


{% for card in cards %}
    <img class="card" src="{{ asset(card) }}" alt="{{ card }}">
{% endfor %}

</div>

{% endblock %}