.api td input[type="submit"] {
    background: none;
    border: none;
    color: rgb(0, 102, 204);
    text-decoration: underline;
    cursor: pointer;
    size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.api td a:visited {
    color: rgb(0, 102, 204);
}
