.card main {
    width: 1500px;
    max-width: 97vw;
}

.all-cards,
.multi-player {
    display: grid;
    width: auto;
    column-gap: 0.7rem;
    row-gap: 2.1rem;
}

.all-cards {
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(5, auto);
}

.multi-player {
    grid-template-columns: 200px auto;
}

.card img {
    width: auto;
    max-width: 100%;
    object-fit: contain;
    height: auto;
}

.card-deck {
    grid-column: 1 / span 1;
    /* grid-row: 1 / span 1; */
    background-color: grey;
    width: 200px;
    height: 300px;
    text-align: center;
}

.card-deck p,
.drawn-cards p {
    width: 200px;
    background-color: var(--almost-white);
    border: 1px solid var(--right-dark);
    padding: 0.7rem;
    margin-bottom: 0.7rem;
}

.drawn-cards {
    background-color: grey;
    padding: 0.7rem;
    width: 100%;
}

.draw.card img {
    width: 150px;
}

.drawn-cards {
    grid-column: 2 / span 1;
    /* grid-row: 1 / span 1; */
}

.diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(var(--magic-number) * 2)
}
