.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
/* .flash-notice:before {
    content: "ⓘ";
} */

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
/* .flash-warning:before {
    content: "⚠";
} */

.flash-notice,
.flash-warning {
    margin-bottom: var(--magic-number);
    font-size: 1.25rem;
}

.project .flash-warning {
    color: var(--neon-red);
    background-color: rgb(0,0,0,0);
    border: unset;
    text-align: center;
}

.project .flash-notice {
    color: var(--neon-green);
    background-color: rgb(0,0,0,0);
    border: unset;
    text-align: center;
}

.project .flash {
    background: rgba(0, 0, 0, 0.3);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);

    visibility: hidden;
    /*  min-width: 250px; Set a default minimum width */
    /*  margin-left: -125px; Divide value of min-width by 2 */

    text-align: center;
    border-radius: 2px;
    padding: 16px;
    max-width: 100%;
    width: 600px;
    min-height: 200px;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 20%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project .flash.show  {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    display: flex;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    /* to {bottom: 30px; opacity: 1;} */
    to {
        bottom: 70%;
        opacity: 1;
    }
  }
  
@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    /* to {bottom: 30px; opacity: 1;} */
    to {
        bottom: 70%;
        opacity: 1;
    }
}
  
  @-webkit-keyframes fadeout {
    /* from {bottom: 30px; opacity: 1;} */
    from {
        bottom: 70%;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
  }
  
  @keyframes fadeout {
    /* from {bottom: 30px; opacity: 1;} */
    from {
        bottom: 70%;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
  }
