.topnav {
    overflow: hidden;
    background-color: #000;
    position: sticky;
    /* width: 100vw;
    position: fixed; */
    top: 0;
    left: 0;
    z-index: 99999;
}

.topnav a {
    float: left;
    display: block;
    color: #818181;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}

.topnav .subnav {
    float: left;
    overflow: hidden;
    /* position: relative; */
}

.subnav .subnavbtn {
    margin: 0;
}

.subnav-content {
  display: none;
  /* position: absolute; */
  left: 0;
  width: 100%;
  z-index: 1;
  min-width: 160px;
}

.subnav a,
.subnav-content a {
    float: none;
    display: block;
    text-align: left;
}

.subnav:hover .subnav-content {
  display: block;
}

.topnav a:hover {
    color: #f1f1f1;
}

.topnav a.active {
    color: #f1f1f1;
    text-decoration: 3px solid overline var(--right-light);
}

.subnav-content {
    border-top: 2px solid var(--main);
    border-bottom: 2px solid var(--main);
}

.subnav-content a.active {
    color: #f1f1f1;
    text-decoration: none;
}

.topnav .nav-toggle {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    background-color: var(--right-light);
}



@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .subnav a {
        display: none;
    }

    .subnav:hover .subnav-content {
        width: 100vw;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    /* .topnav.responsive .nav-toggle {
        position: absolute;
        right: 0;
        top: 0;
    } */

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        /* width: 100%; */
    }

    .topnav a.nav-toggle,
    .topnav.responsive .nav-toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        text-align: right !important;
    }
}

