
.game-grid,
.api-grid {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: repeat(5, min-content);
    width: 100%;
    height: 100%;
    max-width: 100%;
    justify-items: center;

    gap: 5px;
    padding: 5px;
    border-radius: 5px;
}



.api .slot {
    background-color: #333;
    cursor: pointer;
}

.game-grid .slot,
.center-grid .slot {
    outline: 5px solid #333;
}

.game-grid .slot {
    background-color: #000;
}


.row-res {
    grid-column: 6 / span 1;
}

.col-res {
    grid-row: 6 / span 1;
}

.result {
    color: var(--form-neon);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
}

.result-message .flash-notice {
    display: flex;
}

.result-message {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.outer-grid-container h2 {
    color: var(--form-neon);
    text-align: left;
}


.rule-points {
    white-space:nowrap;
}

.slot {
    width: auto;
    height: 15vh;
    display: block;

    aspect-ratio: 3/4;
    border-radius: 5px;
    text-align: center;
}



.outer-grid-container img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

.clickable.player-slot {
    cursor: pointer;
}

.clickable.player-slot:hover {
    z-index: 1;
    outline-color: var(--form-neon);
}

.api .player-slot:hover {
    background: var(--form-neon);
}

.with-card,
.without-card,
.rule-with-card,
.rule-without-card {
    justify-content: flex-start;
    font-size: 70%;
}

.row-res {
    white-space: nowrap;
    width: 100%;
}

.rule-name {
    font-size: 80%;
}


.rule-points {
    font-size: 100%;
    font-weight: bold;
    color: var(--neon-green);
}

.with-card,
.without-card {
    font-weight: bold;
}

.with-card,
.rule-with-card {
    color: var(--form-neon);
}


.without-card,
.rule-without-card {
    color: var(--nav-neon);
}

.grid-col-0 {
    grid-column: 1 / span 1;
}

.grid-col-1 {
    grid-column: 2 / span 1;
}

.grid-col-2 {
    grid-column: 3 / span 1;
}

.grid-col-3 {
    grid-column: 4 / span 1;
}

.grid-col-4 {
    grid-column: 5 / span 1;
}

.grid-row-0 {
    grid-row: 1 / span 1;
}

.grid-row-1 {
    grid-row: 2 / span 1;
}

.grid-row-2 {
    grid-row: 3 / span 1;
}

.grid-row-3 {
    grid-row: 4 / span 1;
}

.grid-row-4 {
    grid-row: 5 / span 1;
}

.outer-grid-container {
    width: 98vw;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: min-content auto min-content;
    margin-bottom: 3rem;
}

/* .outer-grid-container .descr,
.outer-grid-container h2 {
    font-size: 1.25rem;
} */

.descr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.outer-grid-container .game-grid {
    background-color: #333;
    width: auto;
    max-width: 100%;
}

.center-grid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-basis: 1;
    width: 100%;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding: 1rem;
    gap: 1rem;
    justify-items: center;
}

.center-grid .balance {
    color: var(--neon-green);
    font-size: 1.4rem;
    font-weight: bold;
}

.center-grid .flash-notice,
.center-grid .flash-warning {
    display: flex;
    text-align: center;
}

.house-grid {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#grid-form,
.player-grid {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.game-grid.results {
    grid-template-rows: repeat(5, min-content) auto;
    grid-template-columns: repeat(5, min-content) auto;
    background-color: #000;
}


.suggested {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: #333;
    z-index: 1;
    animation-name: blinking;
}

.col-res {
    justify-content: flex-start;
}

.selected {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 1;
    animation-name: blinking3;
}




@keyframes blinking {
    50% {
      outline-color: var(--neon-green);
      color: var(--neon-green);
    }
}



@keyframes blinking3 {
    50% {
      opacity: 0.3;
    }
}


@media (max-width: 800px) {
    .api .slot {
        border: 1px solid var(--clear-neon);
        color: var(--form-neon);
    }
}

.slot.the-card {
    outline: 1px solid #333;
}

@media ((max-width: 1050px) and (orientation: portrait)) or (max-width: 750px) {
    .api .slot {
        size: 0.3em;
    }

    .outer-grid-container {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        width: unset;
    }

    .center-grid {
        min-height: unset;
        height: 500px;
    }

    .house-grid,
    .center-grid,
    .player-grid {
        margin-bottom: 1.5rem;
        max-width: 100%;
    }

    .result {
        font-size: 0.5rem;
    }

    .player-data {
        order: 3;
    }

    .player-grid {
        order: 5;
    }

    .center-grid {
        order: 10;
    }

    .house-data {
        order: 15;
    }

    .house-grid {
        order: 20;
    }

    .game-grid,
    .api-grid {
        gap: 2px;
        padding: 2px;
    }


    .game-grid .slot,
    .center-grid .slot {
        outline-width: 2px;
    }

    .game-grid {
        height: unset;
        width: unset;
        flex-grow: 0;
    }

    .game-grid .slot {
        height: 14vh;
    }
}

@media (min-width: 1600px) {
    .slot {
        width: auto;
        height: 150px;
    }
    .api-grid {
        align-items: center;
    }

    .outer-grid-container {
        max-width: 2000px;
    }
}

