
.game-grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    /* gap: 1rem; */
    max-width: 100%;
    justify-items: center;

    gap: 5px;
    padding: 5px;
    border-radius: 5px;
}


.slot {
    width: auto;
    /* height: 100%; */
    height: 15vh;
    display: block;
    background-color: #333;
    aspect-ratio: 3/4;
    border-radius: 5px;
    text-align: center;

    /* background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; */
}

.outer-grid-container img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

.empty-slot {
    cursor: pointer;
}

/* .player-slot {
    box-shadow: 0 0 20px var(--form-neon);
} */

.api .player-slot:hover,
.empty-slot:hover {
    background: var(--form-neon);
}

.grid-col-0 {
    grid-column: 1 / span 1;
}

.grid-col-1 {
    grid-column: 2 / span 1;
}

.grid-col-2 {
    grid-column: 3 / span 1;
}

.grid-col-3 {
    grid-column: 4 / span 1;
}

.grid-col-4 {
    grid-column: 5 / span 1;
}

.grid-row-0 {
    grid-row: 1 / span 1;
}

.grid-row-1 {
    grid-row: 2 / span 1;
}

.grid-row-2 {
    grid-row: 3 / span 1;
}

.grid-row-3 {
    grid-row: 4 / span 1;
}

.grid-row-4 {
    grid-row: 5 / span 1;
}

.outer-grid-container {
    width: 98vw;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: min-content auto min-content;
    margin-bottom: 3rem;
}



.outer-grid-container .game-grid {
    background-color: var(--clear-neon);
    width: auto;
    max-width: 100%;
}

.center-grid {
    display: flex;
    flex-basis: 1;
    width: 100%;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.house-grid {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.player-grid {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

@media (max-width: 800px) {
    .slot {
        border: 1px solid var(--clear-neon);
        color: var(--form-neon);
    }
}

@media (max-width: 450px) {
    .slot {
        size: 0.3em;
    }
}

