.data {
    width: 90%;
    display: block;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Text Me One', sans-serif;
    color: var(--form-neon2);
    text-transform: uppercase;
}

.name {
    font-weight: bold;
    color: var(--form-neon);
}

/* .score {
    font-weight: bold;
    color: var(--neon-green);
} */


.balance-alt {
    font-family: 'Text Me One', sans-serif;
    text-transform: uppercase;
}

@media (min-width: 2000px) {
    .data {
        font-size: 1.4rem;
        width: 90%;
    }
}