.project .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 5px solid #333;
    border-radius: 10px;
    transition: 0.5s;
    max-width: 100%;
}



.project .wrapper.login,
.project .wrapper.register {
    max-width: 400px;
    padding: 3rem 2rem;
}



.project .wrapper.api:hover,
.project .wrapper.login {
    border: 5px solid var(--form-neon);
    box-shadow: 0 0 20px var(--form-neon), inset 0 0 20px var(--form-neon);
}


.project .wrapper.register {
    border: 5px solid var(--form-neon2);
    box-shadow: 0 0 20px var(--form-neon2), inset 0 0 20px var(--form-neon2);
}

.project .wrapper h2 {
    text-align: center;
    color: #fff;
    transition: 0.5s;
    font-size: 2em;
}

.project .wrapper.api:hover h2,
.project .wrapper h2 {
    color: var(--form-neon);
    text-shadow:
    0 0 7px var(--form-neon),
    0 0 21px var(--form-neon);
}


.project .input-box {
    position: relative;
    width: 320px;
    margin: 30px 0;
}

.project .input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    padding: 0 10px 0 35px;
    transition: 0.5s;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.project .wrapper.api:hover .input-box input,
.project .login .input-box input {
    border: 2px solid var(--form-neon);
    box-shadow: 0 0 10px var(--form-neon), inset 0 0 10px var(--form-neon);
}


.project .register .input-box input {
    border: 2px solid var(--form-neon2);
    box-shadow: 0 0 10px var(--form-neon2), inset 0 0 10px var(--form-neon2);
}

.project .input-box input::placeholder {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
}

.project .input-box .icon {
    position: absolute;
    left: 10px;
    top: 0.60em;
    color: #fff;
    font-size: 1.4em;
    transition: 0.5s;
    z-index: 1;
}

.project .wrapper.api:hover .input-box .icon,
.project .login .input-box .icon {
    color: var(--form-neon);
}

.project .register .input-box .icon {
    color: var(--form-neon2);
}

.project button.form-btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.project .wrapper.api button.form-btn {
    color: var(--form-neon);
}

.project .wrapper.api:hover button.form-btn,
.project .login button.form-btn,
.project .register button.form-btn {
    color: #000;
}

.project .wrapper.api button.form-btn {
    box-shadow: 0 0 20px var(--form-neon);
}

.project .wrapper.api:hover button.form-btn,
.project .login button.form-btn {
    background: var(--form-neon);
    box-shadow: 0 0 20px var(--form-neon);
}

.project .login button.form-btn:hover {
    box-shadow:
    0 0 7px var(--form-neon),
    0 0 10px var(--form-neon),
    0 0 21px var(--form-neon),
    0 0 42px var(--form-neon);
}


.project .register button.form-btn {
    background: var(--form-neon2);
    box-shadow: 0 0 20px var(--form-neon2);
}

.project .register button.form-btn:hover {
    box-shadow:
    0 0 7px var(--form-neon2),
    0 0 10px var(--form-neon2),
    0 0 21px var(--form-neon2),
    0 0 42px var(--form-neon2);
}

.register-link {
    font-size: 0.9em;
    text-align: center;
    margin: 25px 0;
}

.register-link p {
    color: #fff;
}

.register-link p a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

.project .login .register-link p a {
    color: var(--form-neon);
}

.project .register-link .balance {
    font-weight: 600;
    color: var(--alt-neon);
}

/* .project .wrapper.register:hover .register-link p a { */
.project .register .register-link p a {
    color: var(--form-neon2);
}

.register-link p a:hover {
    text-decoration: underline;
    text-shadow:
    0 0 7px var(--form-neon),
    0 0 10px var(--form-neon),
    0 0 21px var(--form-neon),
    0 0 42px var(--form-neon);
}

.login .register-link p a:hover {
    text-shadow:
    0 0 7px var(--form-neon),
    0 0 10px var(--form-neon),
    0 0 21px var(--form-neon),
    0 0 42px var(--form-neon);
}

.register .register-link p a:hover {
    text-shadow:
    0 0 7px var(--form-neon2),
    0 0 10px var(--form-neon2),
    0 0 21px var(--form-neon2),
    0 0 42px var(--form-neon2);
}

@media (max-width: 800px) {
    .project form {
        max-width: 100%;
    }

    .project .wrapper h2 {
        font-size: 1rem;
    }

    .project form {
        padding-bottom: 1rem;
    }

    .project .wrapper {
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-radius: unset;
        border-bottom-color: var(--form-neon2);
    }

    .project .wrapper.api button.form-btn {
        background: var(--form-neon);
        box-shadow: 0 0 20px var(--form-neon);
    }

    .project .wrapper.api .input-box input {
        border: 2px solid var(--form-neon);
        box-shadow: 0 0 10px var(--form-neon), inset 0 0 10px var(--form-neon);
    }
    .project .wrapper.api button.form-btn {
        color: #000;
    }

    .project .wrapper p {
        font-size: 0.9rem;
    }
}

@media (min-width: 801px) {
    .project .wrapper.api h2{
        font-size: 1.6rem;
    }
}
