.blink-btn,
.project .stnd-btn {
    color: var(--form-neon);
    box-shadow: 0 0 20px var(--form-neon);
    background: #333;
    transition: 0.5s;
}

.project .stnd-btn:hover {
    background-color: var(--form-neon);
    color: #000;
}

.project .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.project .btn-container form {
    width: 100%;
}

.project .btn-container .btn {
    max-width: unset;
    padding: 1rem;
}

.blink-btn {
    animation-name: blinking2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: var(--form-neon);
}

@keyframes blinking2 {
    50% {
      background-color: var(--form-neon);
      color: #000;
    }
}


.project .active-btn {
    color: #000;
    background-color: var(--form-neon);
    box-shadow: 0 0 20px var(--form-neon);
    transition: 0.5s;
}

.project .active-btn:hover {
    box-shadow:
    0 0 7px var(--form-neon),
    0 0 10px var(--form-neon),
    0 0 21px var(--form-neon),
    0 0 42px var(--form-neon);
}

.project .active-btn2 {
    color: #000;
    background-color: var(--form-neon2);
    box-shadow: 0 0 20px var(--form-neon2);
    transition: 0.5s;
}

.project .active-btn2:hover {
    box-shadow:
    0 0 7px var(--form-neon2),
    0 0 10px var(--form-neon2),
    0 0 21px var(--form-neon2),
    0 0 42px var(--form-neon2);
}


.project .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: 0.5s;
}

.flex-container-row.profile {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;
    /* height: 70vh; */
    /* flex: 1; */
    max-width: 1000px;
}

.profile .half-width-col {
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    max-width: 360px;
    height: 360px;
    width: 100%;
}

.btns-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* max-width: 360px;
    height: 360px; */
    max-width: 280px;
    height: 280px;
    width: 100%;
    gap: 1rem;
}

.profile-btn {
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--form-neon2);
    background: #333;
    /* border: 2px solid var(--form-neon2); */
    box-shadow: 0 0 20px var(--form-neon2);
    border-radius: 10px;
    text-align: center;
}

.profile-btn.active-btn {
    width: 70px;
    height: 70px;
}

.profile-btn:hover {
    background-color: var(--form-neon2);
    color: #000;
}

.profile-btn a,
.profile-btn .material-symbols-outlined {
    padding: 0.5rem;
}

.profile-btn .material-symbols-outlined {
    font-size: 3rem;
}

.project .return-arr {
    color: var(--form-neon);
    text-shadow: 0 0 20px var(--form-neon);
    font-weight: bold;
    position: absolute;
    right: 10vw;
    top: 10vh;
}

.project .return-arr:hover {
    text-shadow:
    0 0 7px var(--form-neon),
    0 0 10px var(--form-neon),
    0 0 21px var(--form-neon),
    0 0 42px var(--form-neon);
}



@media (max-width: 800px) {
    .flex-container-row {
        row-gap: 1rem;
        margin-bottom: 3rem;
        gap: 1rem;
        /* flex-wrap: wrap-reverse; */
    }
}

@media (min-width: 801px) {
    .project h1.title {
        margin: 3.5rem auto;
    }

    h1.profile {
        margin: 3.5rem auto;
    }

    .project .return-arr .material-symbols-outlined {
        font-size: 3rem;
    }
}