.project .topnav {
    background-color: initial;
}

.project .topnav a {
    font-size: 1.4rem;
    color: #333;
    font-family: 'Text Me One', sans-serif;

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.project .topnav a:hover,
.project .topnav a.active {
    color: var(--nav-neon);
    text-shadow:
    0 0 7px var(--nav-neon),
    0 0 10px var(--nav-neon),
    0 0 21px var(--nav-neon),
    0 0 42px var(--nav-neon),
    0 0 82px var(--nav-neon),
    0 0 92px var(--nav-neon),
    0 0 102px var(--nav-neon),
    0 0 151px var(--nav-neon);
}

.project .topnav a.active {
    text-decoration: none;
}

.project .topnav {
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    right: 0;
}


@media screen and (max-width: 1150px) {
    /* .project .desktop-only {
        display: block !important;
    } */
    /* .project .topnav a:not(:last-child) {
        display: block;
    } */

    .topnav.responsive {
        background-color: #000;
    }

    .project .bar {
        background-color: var(--nav-neon);
    }
}


@media (min-width: 1151px) {
    .project .topnav {
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
    }

    .project .topnav a {
        float: right;
    }
}


