.shop {
    color: var(--form-neon);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
    /* max-width: 1000px; */
    max-width: 1400px;
}

.shop .btn {
    width: 200px;
}

.coins {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.coins p {
    font-weight: bold;
    font-size: 1.2rem;
}

.coins1 {
    width: 50px;
    margin-bottom: 1rem;
}

.coins2 {
    width: 100px;
    margin-bottom: 1rem;
}

.coins3 {
    width: 150px;
}

.coins4 {
    margin-bottom: 1rem;
}

.balance-fixed {
    color: var(--neon-green);
    position: fixed;
    font-size: 1.4rem;
    top: 3.4rem;
    /* left: 2.8rem; */
    left: 1rem;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;

    text-transform: uppercase;
}

@media (max-width: 1100px) {
    .balance-fixed {
        position: relative;
        top: unset;
        left: unset;
        margin: 3rem auto;
        bottom: 0;
    }
}

@media (min-width: 1100px) {
    .coins {
        height: 300px;
    }

    .coins p {
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
        font-size: 1.4rem;
    }
}

@media (min-width: 2000px) {
    .balance-fixed {
        bottom: 10rem;
        left: 3rem;
        top: unset;
        font-size: 1.8rem;
    }

    .coins {
        height: 400px;
    }

    .coins p {
        font-size: 1.8rem !important;
    }

}
