.points table {
    border-collapse: collapse;
}


.points td,
.points th {
    padding: 10px;
    text-align: left;
}

.points td {
    border-top: 2px solid var(--form-neon);
}

.points tr:nth-of-type(2) td {
    border-top: 0;
}


.flex-wrapper-col {
    color: var(--form-neon);
    /* width: 1000px;
    max-width: 100%; */
}

.points th {
    color: var(--form-neon2);
    text-shadow:
    /* 0 0 7px var(--form-neon2), */
    0 0 10px var(--form-neon2),
    /* 0 0 21px var(--form-neon2), */
    0 0 42px var(--form-neon2);
}

.half-width-col.points,
.half-width-col.descr {
    width: 400px;
    max-width: 100%;
}



@media (max-width: 800px) {
    .half-width-col {
        margin-bottom: 1rem;
    }

    /* .half-width-col.points,
    .half-width-col.descr { */
    .half-width-col {
        row-gap: unset;
    }

    .half-width-col.points {
        padding: 1rem;
    }
}

@media (min-width: 801px) {
    .half-width-col.descr {
        padding: 2rem;
        border-right: 3px solid var(--form-neon2);
    }

    .points {
        padding-left: 2rem;
    }
}
