.full-page-background-image {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-position: 0 70%;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}


.project .title {
    font-family: 'Bungee Outline', cursive;
    text-align: center;
    color: var(--form-neon);
    font-size: 3.4em;

    margin-bottom: 1rem;
    text-shadow:
    0 0 7px var(--form-neon),
    0 0 10px var(--form-neon),
    0 0 21px var(--form-neon),
    0 0 42px var(--form-neon),
    0 0 82px var(--form-neon),
    0 0 92px var(--form-neon),
    0 0 102px var(--form-neon),
    0 0 151px var(--form-neon);
}

.rules-text {
    width: 600px;
    max-width: 100%;
    justify-self: flex-start;
    font-size: 1.2rem;
}

.register-link.rules-text p a {
    color: var(--form-neon);
}

@media (max-width: 800px) {
    .project .title {
        font-size: 1.6rem;
    }

    .rules-text,
    .project li {
        font-size: 1rem;
    }

    .project {
        list-style-position: inside;
    }

    .project {
        padding-left: 1em;
        padding-right: 1em;
    }
}
