html {
    height: 100%;
}

main,
.about .col-2 {
    padding: var(--magic-number);
    padding-bottom: calc(var(--magic-number) * 3);
    max-width: 65.4em;
    margin: 0 auto;
    height: 100%;
}

h1,
.site-title {
    font-size: 2.686rem;
}

h1 {
    margin-bottom: calc(1.4 * 1.1rem * 2);
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

h1:before {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    bottom: 0;
    /* left: 25%; */
    border-bottom: 3px solid var(--left-dark);
}

h2 {
    font-size: 2.148rem;
    margin-bottom: calc(1.4 * 1.1rem);
    text-align: center;
}

h3,
th {
    font-size: 1.719rem;
}

h3 {
    margin-bottom: calc(1.4 * 1.1rem);
}

/* h4 {
    font-size: 1.375rem;
} */

p,
td,
li {
    font-size: 1.1rem;
}

p {
    margin-bottom: calc(1.4 * 1.1rem);
}

section {
    margin-bottom: calc(1.4 * 1.1rem * 2);
}

@media (max-width: 750px) {
    main {
        padding: calc(var(--magic-number) * 0.5);
        padding-bottom: calc(var(--magic-number) * 2.5);
    }

    .site-title {
        font-size: 2rem;
    }

    h1 {
        font-size: 2.4rem;
        margin-bottom: 2.8rem;
    }
    
    h2{
        font-size: 2rem;
        margin-bottom: 1.4rem;
    }
    
    h3 {
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
    }
    
    p {
        font-size: 1rem;
        margin-bottom: 1.4rem;
    }

    section {
        margin-bottom: 2.8rem;
    }
}

@media (min-width: 64em) {
    /* html {
        font-size: 112.5%;
    } */

    main {
        padding-top: calc(var(--magic-number) * 2);
    }

    h1,
    .site-title {
        font-size: 3.052rem;
    }

    h1 {
        margin-bottom: calc(1.4 * 1.25rem * 2);
    }
    
    h2{
        font-size: 2.441rem;
        margin-bottom: calc(1.4 * 1.25rem);
    }
    
    h3 {
        font-size: 1.953em;
        margin-bottom: calc(1.4 * 1.25rem);
    }
    
    /* h4 {
        font-size: 1.563rem;
    } */
    
    p {
        font-size: 1.25rem;
        margin-bottom: calc(1.4 * 1.25rem);
    }

    section {
        margin-bottom: calc(1.4 * 1.25rem * 2);
    }
}