:root {
    --left-dark: #78bf96;
    --left-light: #9fbfac;
    --main: #537260;
    /* --right-lighter: #e09b95; */
    --right-light: #bf6c65;
    --right-dark: #735654;
    --magic-number: 1.4rem;
}