:root {
    --left-dark: #78bf96;
    --left-light: #9fbfac;
    --main: #537260;
    --right-light: #bf6c65;
    --right-dark: #735654;
    /* --magic-number: 1.4rem; */
    --magic-number: calc(1.4 * 1.1rem);
    --almost-white: #f2f2f2;

    --right-light-clear: #bf6d65a8;
    --left-dark-clear: #78bf96a6;
}