<!DOCTYPE html>
<html lang="sv">
    {{ include('partials/head.html.twig') }}
    <body class="library">

    {{ include('partials/topnav.html.twig') }}

        {% block body %}
        {% endblock %}

        {{ include('partials/footer.html.twig') }}
    </body>
</html>
