<!DOCTYPE html>
<html lang="sv">
    {{ include('partials/head.html.twig') }}
    <body class="project project-alt">

    {{ include('partials/topnav-project.html.twig') }}

        {% block body %}
        {% endblock %}

        {{ include('partials/footer.html.twig') }}
    </body>
</html>
