<!DOCTYPE html>
<html lang="sv">
    {{ include('partials/head.html.twig') }}
    <body class="project project-alt finish-bg" {% if results['house']['total'] - results['player']['total'] < 0 %}style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url({{ asset('img/project/fireworks.gif') }})"{% endif %}>

    {{ include('partials/topnav-project.html.twig') }}

        {% block body %}
        {% endblock %}

        {{ include('partials/footer.html.twig') }}

    <script>
            let flashes = document.getElementsByClassName("flash");

            for (let flash of flashes) {
                flash.classList.add("show");
                console.log("class added");
                setTimeout(() => {
                    flash.classList.remove("show");
                    }, 3000
                );
            }
        </script>
    </body>
</html>
