{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
<h1>Move the monkey</h1>
<p>Reload the page to move the monkey.</p>
<div class="forest" id="forest" style="background-image: url({{ asset('img/forest.jpg') }})">
{{ monkey | raw }}
</div>
{% endblock %}