<h1>Registrera ny bok</h1>

{{ include('flash.html.twig') }}

<div class="container">
    <a class="close" href="{{ path('library') }}">&times;</a>
    <div class="flex-row">
    <div class="image-container" id="image-container">
    <img class="no-border" src="{{ asset('img/libro.svg') }}" alt="Placeholder image" id="photo">
    </div>
        <form method="post" action="{{ path('book_create') }}">
            <div class="inputbox">
            <input id="title" name="title" type="text" required="required" minlength="1" maxlength="255">
            <span>Titel</span>
            </div>

            <div class="inputbox">
            <input id="isbn" name="isbn" type="text" required="required" maxlength="13" required pattern="[0-9]{13}">
            <span>ISBN (13 siffror)</span>
            </div>

            <div class="inputbox">
            <input id="author" name="author" type="text" required="required" minlength="1" maxlength="255">
            <span>Författare</span>
            </div>

            <div class="inputbox">
            <input id="image" name="image" type="url" required="required" minlength="1" maxlength="255">
            <span>Url länk till bild</span>
            </div>
            <input type="submit" class="btn" value="Spara" name="do">
            <p>Samtliga fält är obligatoriska</p>

        </form>
    </div>
  </div>

<script>
    let photo = document.getElementById("photo");
    let imageLink = document.getElementById("image");
    let originalImg = photo.src;
    let originalAlt = photo.alt;
    let title = document.getElementById("title");
    let isbn = document.getElementById("isbn");
    let author = document.getElementById("author");
    let imgContainer = document.getElementById("image-container");

    imageLink.addEventListener("change", function () {
        photo.src = imageLink.value;
        imgContainer.classList.remove("missing-image");
        if (imageLink.value != "") {
            imageLink.classList.add("is-filled");
        } else {
            imageLink.classList.remove("is-filled");
            photo.src = originalImg;
            photo.alt = originalAlt;
        }
    });
    photo.addEventListener('error', function handleError() {
        photo.alt = `Om du ser denna text så betyder det att länken '${imageLink.value}' inte leder till någon bild`;
        imgContainer.classList.add("missing-image");
    });

    for (const field of [title, isbn, author]) {
        field.addEventListener("change", function() {
            if (field.value != "") {
                field.classList.add("is-filled");
            } else {
                field.classList.remove("is-filled");
            }
        });
    }

</script>
