<div class="container">
    <div class="container-close"><a>&times;</a></div>
    <img src="" alt="image" id="photo">
    <h2>Fyll i bokdetaljer här</h2>
        <form method="post" action="">
        
            <label for="title">Titel</label>
            <input id="title" type="text" required="required" min-length="1" max-length="255" placeholder="bokens titel">

            <label for="isbn">ISBN</label>
            <input id="isbn" type="text" required="required" min-length="13" max-length="13" placeholder="isbn, 13 siffror">

            <label for="author">Författare</label>
            <input id="author" type="text" required="required" min-length="1" max-length="255" placeholder="namn på författare">

            <label for="image">Bildlänk</label>
            <input id="image" type="url" required="required" min-length="1" max-length="255" placeholder="länk till bild">

            <input type="submit" class="btn" value="Spara" name="do">
        </form>
    </div>
  </div>
